<div class="container">
	<h2 class="text-center">販売商品一覧</h2>

	<div class="row center-block search-field">
		<%= search_form_for @search, url: cds_admins_path do |f| %>
		<%= f.text_field :cd_name_cont, placeholder: 'CD名を入力...', class: "col-xs-10" %>
		<%= f.submit ("検索する"), class: "col-xs-2" %>
		<% end %>
	</div>
	<% if @search_cds == [] %>
		<h3 class="text-center">検索結果はありません</h3>
	<% else %>

	<div class="row">

<!-- 非同期でフラッシュメッセージ -->
		<h4 class="text-center" id="arrival"></h4>
<!-- ここまで -->

		<% @search_cds.each do |cd| %>
		<div class="col-xs-4">
			<p class="text-center"><%= attachment_image_tag cd, :jacket_image, fallback: "no_image_cd.jpg", size: '200x200' %>
			</p>
			<p class="text-center"><strong>商品名: <%= cd.cd_name %></strong></p>
			<p class="text-center"><strong>価格: <%= cd.price %> 円</strong></p>

			<%= form_for @arrival, url: arrivals_path, method: :post, remote: true do |f| %>
			<p class="text-center">
				<%= f.text_field :arrival, placeholder: '入荷数入力', class: "text-center arrival_num" %>
			</p>
			<p class="text-center">
				<%= f.hidden_field :cd_id, value: cd.id %>
			</p>
			<p class="text-center">
				<%= f.submit '入荷数登録', class: "btn btn-info" %>
			</p>
			<% end %>
			<p class="text-center">
				<%= link_to '商品詳細へ', cd_admins_path(cd.id), class: "btn btn-default" %>
			</p>
		</div>
		<% end %>
	</div>
	<% end %>

	<%= paginate @search_cds %>
</div>
