<h1>販売商品詳細</h1>

<div><%= attachment_image_tag @cd, :jacket_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image_cd.jpg" %>
</div>

<div><p><%= @cd.cd_name %></p>
	 <p><%= @cd.price %> 円</p>
	 <P><%= @cd.sales_status.sales_status %></P>
	 <p><%= @cd.stock %> 枚</p>
	 <p><%= link_to '商品編集', cd_admins_edit_path(@cd.id) %></p>
	 <p><%= link_to '商品削除', cd_admins_destroy_path(@cd.id), method: :delete %></p>
</div>

<div><h2>商品情報</h2>
	<p><%= @cd.artist.artist %></p>
	<p><%= @cd.label.label %></p>
	<p><%= @cd.genre.genre %></p>
	<% @discs.each do |disc| %>
		<P><%= disc.disc %>
	   	   <%= disc.sort %>
		</P>
		<% disc.songs.each do |song| %>
		<p><%= song.song_order %>
			<%= song.song %>
		</p>
		<% end %>
	<% end %>
</div>
