<div class="container">
	<h1 class="">販売商品詳細</h1>


	<div class="row">
		<div class="col-xs-8">
			<p class=""><%= attachment_image_tag @cd, :jacket_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image_cd.jpg", size: 400 %>
			</p>
		</div>
		<div class="col-xs-4">
			<h1 class="">商品名: <%= @cd.cd_name %></h1>
			<h2 class="">価格(税込): <%= (@cd.price * 1.1).floor %> 円</h2>
			<h3 class="">販売ステータス: <%= @cd.sales_status.sales_status %></h3>
			<h3 class="">在庫数: <%= @cd.stock %> 枚</h3>
			<%= link_to '商品編集', cd_admins_edit_path(@cd.id), class: 'btn btn-info col-xs-6' %>
			<%= link_to '商品削除', cd_admins_destroy_path(@cd.id), method: :delete, class: 'btn btn-danger col-xs-6' %>
		</div>
	</div>
	<div class="row">
		<h2>商品情報</h2>
			<h4 class="glyphicon glyphicon-user" aria-hidden="true"> アーティスト: <%= @cd.artist.artist %>
			</h4><br>
			<h4 class="glyphicon glyphicon-film" aria-hidden="true"> レーベル: <%= @cd.label.label %>
			</h4><br>
			<h4 class="glyphicon glyphicon-folder-open" aria-hidden="true"> ジャンル: <%= @cd.genre.genre %>
			</h4><br>
			<% @discs.each do |disc| %>
				<h4 class="glyphicon glyphicon-headphones" aria-hidden="true"> ディスク: <%= disc.disc %>. <%= disc.sort %>
				</h4><br>
				<h4 class="glyphicon glyphicon-music" aria-hidden="true"> ~曲名~
				</h4><br>

				<% disc.songs.each do |song| %>
		    	<h5><%= song.song_order %>. <%= song.song %>
		    	</h5><br>
		    	<% end %>
			    <% end %>

	</div>
</div>
