<h1>Cds#index</h1>




<!-- 検索窓 -->
<%= search_form_for @search, url: root_path do |f| %>
  <%= f.text_field :cd_name_cont, placeholder: 'CD名を入力...' %>
  <%= f.submit ("検索する") %>
<% end %>

<% @search_cds.each do |cds| %>
  <tr>
    <td><%= attachment_image_tag cds, :jacket_image, fallback: "no_image.jpg", size: "40x40" %></td>
    <td><%= cds.cd_name %></td>
    <td><%= link_to "詳細ページへ", cd_path(cds.id) %></td>
  </tr>
<% end %>



