
<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>



<%= search_form_for @search, url: root_path do |f| %>
  <%= f.text_field :cd_name_cont, placeholder: 'CD名を入力...' %>
  <%= f.submit ("検索する") %>
<% end %>


<h1>CD詳細</h1>

<div><%= attachment_image_tag @cd, :jacket_image, fallback: "no_image.jpg", size: "100x100" %>
</div>


<!-- カートに入れる情報 -->
<% if @cd.sales_status.sales_status == "販売中" %>
	<%= form_for @cart, url: carts_path, method: :post do |c| %>
   		<%= select_tag 'quantity', options_for_select((1..@cd.stock)) %>
   		<%= c.hidden_field :cd_id, value:@cd.id %>
   		<%= c.submit "カートに入れる", class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
   	<% end %>
<% else %>
   		<p>販売中止のため購入できません</p>
<% end %>


<div><p><%= @cd.cd_name %></p>
	 <p><%= (@cd.price * 1.1).floor %> 円</p>
	 <P><%= @cd.sales_status.sales_status %></P>
	 <p><%= @cd.stock %> 個</p>
	<p><%= @cd.artist.artist %></p>
	<p><%= @cd.label.label %></p>
	<p><%= @cd.genre.genre %></p>
	<% @discs.each do |disc| %>
		<P><%= disc.disc %>
	   	   <%= disc.sort %>
		</P>
		<% disc.songs.each do |song| %>
		<p><%= song.song_order %>
			<%= song.song %>
		</p>
		<% end %>
	<% end %>
	 <p><%= link_to '商品編集', cd_admins_edit_path(@cd.id) %></p>
</div>