<div class="container">
<div class="show_container">

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

	<div class="search_container2">
	<!-- 検索窓 -->
	<%= search_form_for @search, url: root_path do |f| %>
	  <%= f.text_field :cd_name_cont, placeholder: 'CD名を入力...' %>
	  <%= f.submit ("検索する") %>
	<% end %>
	</div>


	<div class="">
		<p class=""><%= attachment_image_tag @cd, :jacket_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image_cd.jpg", size: 400 %>
		</p>

	<h3>商品情報</h3>
	<p class="glyphicon glyphicon-user" aria-hidden="true"> アーティスト: <%= @cd.artist.artist %>
	</p>
	<br>
	<p class="glyphicon glyphicon-film" aria-hidden="true"> レーベル: <%= @cd.label.label %>
	</p>
	<br>
	<p class="glyphicon glyphicon-folder-open" aria-hidden="true"> ジャンル: <%= @cd.genre.genre %>
	<p>

<!-- カートに入れる情報 -->
	<h3 class="">商品名: <%= @cd.cd_name %></h3>
	<h3 class="">価格(税込): <%= (@cd.price * 1.1).floor %> 円</h3>
	<p class="">販売ステータス: <%= @cd.sales_status.sales_status %></p>
	<p class="">在庫数: <%= @cd.stock %> 枚</p>

	<% if @cd.sales_status.sales_status == "販売中" %>
		<%= form_for @cart, url: carts_path, method: :post do |c| %>
	   		<%= select_tag 'quantity', options_for_select((1..@cd.stock)) %>
	   		<%= c.hidden_field :cd_id, value:@cd.id %>
	   		<%= c.submit "カートに入れる", class: "btn btn-default glyphicon glyphicon-shopping-cart" %>
	   	<% end %>
	<% else %>
	   		<p>販売中止のため購入できません</p>
	<% end %>
	</div>
</div>

  <hr class="hr" size="5">

	<div class="show_container songs">
		<% @discs.each do |disc| %>
		<p class="glyphicon glyphicon-headphones" aria-hidden="true"> ディスク: <%= disc.disc %>. <%= disc.sort %>
		</p><br>
		<p class="glyphicon glyphicon-music" aria-hidden="true"> ~曲名~
		</p><br>
		<% disc.songs.each do |song| %>
		<p><%= song.song_order %>. <%= song.song %>
		</p><br>
		<% end %>
		<% end %>
	</div>

</div>
