<style>

  .aaa {
    background-color: rgba(240,240,240,0.5);
    border-radius: 10px 0px 0px 10px;
    color: rgba(240,240,240,0.2);
  }
  .bbb {
    background-color: rgba(240,240,240,0.5);
    border-radius: 0px 10px 10px 10px;

  }

</style>

<div class="container">
  <div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-2 aaa">
      <%= form_for(user) do |f| %>
      <!-- f.text_field :name, autofocus: true, placeholder:"名前" -->
    </br>
    <p class="text-center"><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </br>

  </p>
</div>
<div class="col-xs-3 bbb">
  <br>
  <%= f.text_field :first_name, autofocus: true, placeholder: "姓"  %>
</br>

<%= f.text_field :last_name, autofocus: true, placeholder: "名" %>
</br>

<%= f.text_field :kana_first_name, autofocus: true, placeholder: "カナ" %>
</br>

<%= f.text_field :kana_last_name, autofocus: true, placeholder: "カナ名" %>
</br>

<%= f.text_field :postal_code, autofocus: true, placeholder: "郵便番号" %>
</br>

<%= f.text_field :address, autofocus: true, placeholder: "住所" %>
</br>

<%= f.text_field :email, autofocus: true, placeholder: "メールアドレス" %>
</br>

<div class="tags">
  <%= f.fields_for :destinations do |f| %>
  <%= f.label "Destination" %>
  　　<%= render "destination_fields", f: f %>
  <% end %>
  <div class="links">
    <%= link_to_add_association "配送先を追加", f, :destinations, class: 'btn btn-default btn-block btn-sm' %>
  </div>
</div>

<% if admin_signed_in? %>
<%= f.submit "更新", class: 'btn btn-info btn-sm' %>
<%= link_to "退会", admins_deleted_flag_path, method: :patch, class: 'btn btn-danger btn-sm' %>

<% else %>
<%= f.submit "更新", class: 'btn btn-info btn-sm' %>
<%= link_to "退会", deleted_flag_path, method: :patch, class: 'btn btn-danger btn-sm' %>
<% end %>

<% end %>
</div>
 <div class="col-xs-1">
</div>
</div>
</div>