<div class="container">
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-11">
        <p><br></p>
        <div class="text-center">
            <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %>
        </div>

        <h3 class="text-center">User Information</h3>

        <p></p>

        <div class="text-center">
            <%= user.first_name %>
            <%= user.last_name %>
        </div>
        <div class="text-center">
            <%= user.kana_first_name %>
            <%= user.kana_last_name %>
        </div>

        <p></p>

        <% if user_signed_in? %>
        <div><%= link_to " Edit ", edit_user_path(user.id), class: "col-xs-12 glyphicon glyphicon-wrench btn btn-default" %></div>

        <div id="fav_button" class="btn btn-default">いいねした商品を表示</div>
        <ul class="text-center">
        <% @fav_cd.each do |fav| %>
            <li class="fav_list"><%= link_to cd_path(fav.cd_id), class: "fav_cd_name" do  %><%= fav.cd.cd_name %><% end %></li>
        <% end %>
        </ul>

        <% else %>
        <div><%= link_to " Edit ", user_admins_edit_path(user.id), class: "col-xs-12 glyphicon glyphicon-wrench btn btn-default" %></div>
        <% end %>

    </div>
</div>
</div>