
<%= flash[:notice] %>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
           <%= render 'users/users_info', user: @user, destinations: @destinations %>
        </div>

        <div class="col-sm-9">
            <h2>顧客詳細</h2>
              <% @buy_information.each do |b| %>
                <% b.purchase_histories.each do |p| %>
                <span><%= p.cd_name %></span>
                <span><%=  p.price %> 円</span>
                <span><%=  p.created_at.strftime('%Y/%m/%d %H:%M')  %></span>
                  <% end %>
                  <span><form action="/buy/<%= b.id %>" method="post" class="submit_form">
                  <%= select_tag 'update_delivery_status',  options_for_select([["受付中", 1 ], ["商品準備中", 2], ["出荷済", 3]], {:selected => b.delivery_status_before_type_cast} ),  class: "update_delivery_status" %></form></span>
              <% end %>
    </div>
</div>


<script>
$(document).ready(function(){
  $(".update_delivery_status").change(function(){
    var index = $('.update_delivery_status').index(this);
      $('.submit_form').eq(index).submit();
  });
});
</script>