<div class="container">
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
	<div class="row">
		<div class="col-sm-3">
           <%= render 'users/users_info', user: @user, destinations: @destinations %>
        </div>

        <div class="col-sm-9">
          <h2><span>顧客詳細</span></h2>
          <div class="table-responsive">
            <table class='table table-bordered user_show_table'>
          <thead>
        </thead>
        <tbody>
          <tr>
            <th class= "user_show_th"><span>商品名</span></td>
            <th class= "user_show_th"><span>価格</span></td>
            <th class= "user_show_th"><span>購入数</span></td>
            <th class= "user_show_th"><span>小計</span></td>
            <th class= "user_show_th"><span>購入日</span></td>
            <th class= "user_show_th"><span>郵便番号</span></td>
            <th class= "user_show_th"><span>配送先</span></td>
            <th class= "user_show_th"><span>配送先名</span></td>
            <th class= "user_show_th"><span>発送ステータス</span></td>
          </tr>
              <% i = 0 %>
              <% @buy_information.each do |b| %>
                <% b.purchase_histories.each_with_index do |p, i| %>
              <% if i == 0 %>
               <tr>
                <td class= "user_show_td"><span><%= p.cd_name %></span></td>
                <td class= "user_show_td"><span><%= p.price %> 円</span></td>
                <td class= "user_show_td"><span><%= p.quantity %> 枚</span></td>
                  <td rowspan = "<%= b.purchase_histories.count %>"><span><%= b.subtotal %> 円</span></td>
                <td rowspan = "<%= b.purchase_histories.count %>" ><%=  b.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
                <td rowspan = "<%= b.purchase_histories.count %>">
                  <%= b.final_postal_code %>
                </td>
                <td rowspan = "<%= b.purchase_histories.count %>">
                  <%= b.final_address %>
                </td>
                <td rowspan = "<%= b.purchase_histories.count %>">
                  <%= b.final_name %>
                </td>
                <td rowspan = "<%= b.purchase_histories.count %>"><span><form action="/buy/<%= b.id %>" method="post" class="submit_form">
                    発送ステータス: <%= select_tag 'update_delivery_status',  options_for_select([["受付中", 1 ], ["商品準備中", 2], ["出荷済", 3]], {:selected => b.delivery_status_before_type_cast} ),  class: "update_delivery_status" %></form></span>
                </td>
              </tr>
                <% else %>
              <tr>
                <td class= "user_show_td"><span><%= p.cd_name %></span></td>
                <td class= "user_show_td"><span><%= p.price %> 円</span></td>
                <td class= "user_show_td"><span><%= p.quantity %> 枚</span></td>
              </tr>
              <% end %>
              <% end %>
              <tr class="info"><td colspan= "9"></td></tr>
            <% end %>
        </tbody>
      </table>
    </div>
    </div>
      <span id="back">
      <a href="#">
      <img src="../../assets/arrow.png" alt="">
      </a>
    </span>
  </div>

<script>
$(document).ready(function(){
  $(".update_delivery_status").change(function(){
    var index = $('.update_delivery_status').index(this);
      $('.submit_form').eq(index).submit();
  });
});
</script>
</div>