
<%= flash[:notice] %>

<div class="container">
	<div class="row">
		<div class="col-sm-3">
           <%= render 'users/users_info', user: @user, destinations: @destinations %>
        </div>

        <div class="col-sm-9">
            <h2>顧客詳細</h2>
              <% @buy_information.each do |b| %>
                <% b.purchase_histories.each do |p| %>
                <span><%= p.cd_name %></span>
                <span><%=  p.price %> 円</span>
                <span><%=  p.created_at.strftime('%Y/%m/%d %H:%M')  %></span>

                <span><form action="/users/admins/" method="POST" class="submit_form">
                  <%= b.select :payment, BuyInformation.payments.keys.map { |k| [I18n.t("enums.buy_information.payment.#{k}"), k]} %></form></span>
                  <% end %>
              <% end %>
    </div>
</div>


<script>
$(document).ready(function(){
  $(".update_delivery_status").change(function(){
    var index = $('.update_delivery_status').index(this);
      $('.submit_form').eq(index).submit();
  });
});
</script>