<div class="container">
  <div class="row">
    <h1 class="text-center">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group col-xs-6 col-xs-offset-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-info col-xs-6 col-xs-offset-3" %>
  </div>
<% end %>
    <div class="col-xs-6 col-xs-offset-3">
<%= render "admins/shared/links" %>
    </div>
  </div>
  <div class="container">
