<!DOCTYPE html>
<html>
<head>
  <title>Armageddon</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if @i == 1 %>
  <% else %>
  <header>
    <div class="container">
      <div id="slidemenu">

        <ul class="nav navbar-nav navbar-right">
          <% if admin_signed_in? %>

          <li class="">
            <%= link_to "販売一覧", cds_admins_path %>
          </li>

          <li class="">
            <%= link_to "ユーザ一覧", users_admins_path %>
          </li>

          <li class="">
            <%= link_to "商品登録", cds_new_path %>
          </li>

          <li class="">
            <%= link_to "入荷数一覧", arrivals_path %>
          </li>

          <li class="">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>

          <% elsif user_signed_in? %>

          <li class="">
            <%= link_to "#{current_user.first_name} 様", user_path(current_user.id) %>
          </li>

          <li class="">
            <%= link_to "Cart", carts_path %>
          </li>

          <li class="">
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>

          <% else %>
          <li class="">
            <%= link_to "New user",  new_user_registration_path %>
          </li>

          <li class="">
            <%= link_to "Log in", new_user_session_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <% end %>
  <!-- /header -->
  <%= yield %>
</body>
</html>
